.logo {
  display: inline-block;
  vertical-align: middle;
  height: 32px;
}

.logoDesc {
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  margin: 0 0 0 12px;
  font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.logoWrapper {
  height: 64px;
  position: relative;
  line-height: 64px;
  padding-left: 24px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  overflow: hidden;
}

.right_content {
  border-left:  1px solid #e9e9e9;
  margin-left: -1px;
}

.ant-advanced-search-form {
  padding: 24px;
  background: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  margin-bottom: 6px;
}

.ant-advanced-search-form .ant-form-item {
  display: flex;
}

.ant-advanced-search-form .ant-row .ant-form-item {
  margin-bottom: 8px;
}

.ant-table-thead > tr > th{
  background: rgb(238, 233, 233) !important;
}

.ant-table-row:nth-child(even) > td {
  background-color: rgba(230, 230, 230, 0.4);
}

.contentWrapper {
  margin: 0 16px;
}

.content {
  padding: 24;
  background: #fff;
  min-height: 360px;
}

.ysynet-archives-modal {
  width: 80% !important;
}

/* 登录 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}

.login-form {
max-width: 300px;
margin: 15% auto;
}
.login-form-forgot {
float: right;
}
.login-form-button {
width: 100%;
}
/* 
.container {
width: 100%;
min-height: 600px;
} */
/* 登录界面 */
.container {
background: #f0f2f5;
background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
position: absolute;
top: 0;
bottom: 0;
}
.top{
width: 120px;
margin: 0 auto;
padding-top: 70px;

}
.top .login-logo {
width: 110px;
height: 40px;
background: url('./assets/Login_logo.png');
background-size: 100% 100%;
display: block; 
}
.main {
  width: 368px;
  margin: 0 auto;
  margin-top: 20px;
}
.main .tabs {
  padding: 0 2px;
  margin: 0 -2px;
}
.main .tabs  .ant-tabs-tab {
  font-size: 16px;
  line-height: 24px;
}
.main .tabs  .ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 34px;
}
.main .ant-tabs .ant-tabs-bar {
  border-bottom: 0;
  margin-bottom: 24px;
  /* text-align: center; */
  margin-left: 30px;
}
.main  .ant-form-item {
  margin-bottom: 24px;
}
.main .prefixIcon {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.25);
}
.main .getCaptcha {
  display: block;
  width: 100%;
}
.main .additional {
  text-align: left;
}
.main .additional .forgot {
  float: right;
}
.main .additional .submit {
  width: 100%;
  margin-top: 24px;
}